body {
    background-image: linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/flag.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.delivery-image {
    /*Replace image link*/
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/delivery.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
  /*image is fixed in background all other elements are scrolling*/  
  /*background attachement makes image fixed*/
    
    background-position: center;
}


.drone-image {
    /*Replace image link*/
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/drone.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
  /*image is fixed in background all other elements are scrolling*/  
  /*background attachement makes image fixed*/
    
    background-position: top;
}

.house-image {
    /*Replace image link*/
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/house.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
  /*image is fixed in background all other elements are scrolling*/  
  /*background attachement makes image fixed*/
   
    background-position: center;
}
.real-image {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/real.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size:cover;
  /*image is fixed in background all other elements are scrolling*/  
  /*background attachement makes image fixed*/
   
    background-position: center;
}